body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: white;
    padding: 15px;
}

nav a{
    margin-right: 20px;
    color:white;
    text-decoration: none;
}

main{
    padding: 20px;
}

section {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
}

img{
    display: block;
    margin: 15px 0;
    max-width: 100%;
}

button{
    cursor: pointer;
    padding: 8px 12px;
}

.imagemcomborda{
    border: 4px solid black;
    border-radius: 10px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 8px 14px;
    margin-right: 7px;
    background: #333;

}

.btn:hover{
    opacity: 0.7;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;

}
